In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv("dataset/SleepStudyDataForAnalysis.csv", index_col = 0)

In [3]:
data_frame.head()
data_frame.fillna(0.0, inplace=True)

In [4]:
bool_series = pd.isnull(data_frame["Hours"])

In [5]:
data_frame[bool_series]

Empty DataFrame
Columns: [Enough, Hours, PhoneReach, PhoneTime, Tired, Breakfast]
Index: []

In [6]:
data_frame

     Enough  Hours  PhoneReach  PhoneTime  Tired  Breakfast
62        0    2.0           0          0      5          0
52        0    7.0           0          1      4          1
51        0    8.0           1          1      3          1
77        1    6.0           1          1      4          0
103       1    6.0           1          1      3          1
..      ...    ...         ...        ...    ...        ...
56        0    6.0           1          1      3          0
21        0    4.0           1          1      2          1
23        0    7.0           1          0      3          1
81        0    6.0           1          1      3          0
25        0    7.0           0          1      5          0

[104 rows x 6 columns]

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [12]:
Xs = data_frame.drop('Hours', axis = 1).values
Ys = data_frame['Hours'].values